{% extends 'webster/base.html' %}

{% block title %}
Webster | About
{% endblock %}


{% block content %}

<!--ABOUT-->
	<section class="text-white mb-0 margin" id="about">
	  <div class="container">
		<h2 class="text-center text-uppercase text-white">About</h2>
		<hr class="star-light mb-5">
		<div class="row">
		  <div class="col-lg-4 ml-auto about-1">
			<p class="lead">Hello! My name is <span id="alafu">Webster</span>. I am a professional software developer, cloud and network engineer based
            out of Mombasa, Kenya. I like writing code in <span class="avosa">Python</span>,
            <span class="avosa">JavaScript</span>, <span class="avosa">TextScript</span> and
            <span class="avosa">Ruby</span>, and have prowes using frameworks
            like <span class="avosa">Flask</span>, <span class="avosa">Django</span>, <span class="avosa">Beeware</span>,
            <span class="avosa">React</span>, <span class="avosa">Angular</span>, and
            <span class="avosa">Ruby on Rails</span>. </p>
		  </div>
		  <br>
		  <div class="col-lg-4 mr-auto about-2">
			<p class="lead">Outside of my profession, I am an environmentalist and will
            do anything out of my will to embrace positivity to it.  </p>
		  </div>
		</div>
		<div class="text-center mt-4">
		  <a class="btn btn-xl btn-cv" href="/static/webster/files/myresume.pdf" download>
			<i class="fas fa-download mr-2"></i>
			Download CV
		  </a>
		</div>
	  </div>
	</section>


{% endblock %}