{% extends 'webster/base.html' %}
<!--Extended base html file-->

{% block content %}


	<!--PORTFOLIO-->
	<section class="portfolio margin" id="portfolio">
        <div class="container">
            <h2 class="text-center text-uppercase text-white mb-0">Projects</h2>
            <hr class="star-light mb-5 text-white">
			<div class="row">
			  <div class="col-sm-6">
				<div class="card">
				  <div class="card-body" id="projectt">
					<a href="https://avosa.pythonanywhere.com/"><h5 class="card-title">eBuild</h5></a>
					<p class="card-text">Construction company project written
					using Flask Python framework and Mysql database.</p>
					<a href="https://github.com/avosa/ebuild" class="btn btn-primary">Github Repo Link</a>
				  </div>
				</div>
			  </div>
			  <div class="col-sm-6">
				<div class="card">
				  <div class="card-body" id="projectt">
					<a href="https://webstera.pythonanywhere.com/"><h5 class="card-title">Academic Help</h5></a>
					<p class="card-text">platform where students will easily network and get solutions to
						their needs using Flask Python and Sqlite database.</p>
					<a href="https://github.com/avosa/AcademicHelp" class="btn btn-primary">Github Repo Link</a>
				  </div>
				</div>
			  </div>
			</div>
			<div class="margin"></div>
			<div class="row">
			  <div class="col-sm-6">
				<div class="card">
				  <div class="card-body" id="projectt">
					<a href="https://selftrain-web.000webhostapp.com/"><h5 class="card-title">Interviewprep</h5></a>
					<p class="card-text">Web app to prepare yourself for an interview written
						in JavaScript, bootstrap, HTML and CSS.</p>
					<a href="#" class="btn btn-primary">Github Repo Link</a>
				  </div>
				</div>
			  </div>
			  <div class="col-sm-6">
				<div class="card">
				  <div class="card-body" id="projectt">
					<a href="https://mobicentre-1ae94.web.app/"><h5 class="card-title">Mobicenter</h5></a>
					<p class="card-text">ecommerce site for Mobicenter, a mobile phone and accessory shop, built using Angularjs</p>
					<a href="https://github.com/avosa/mobicenter" class="btn btn-primary">Github Repo Link</a>
				  </div>
				</div>
			  </div>
			</div>
		</div>
	</section>


<div class="row justify-content-center margin">
            <div class="pflink">
                <a href="https://github.com/avosa?tab=repositories">View More</a>
            </div>
        </div>


{% endblock %}